.formfield{
    height: max-content;
    width: max-content;
    margin: 0 auto;
    /* margin-top: 50vh;
    transform: translateY(-50%); */
    padding: 15px;
    background-color: chocolate;
    margin-top: 10%;
}
.firstform{
    background-color: burlywood;
    margin: 10px;
    width: fit-content;
    padding: 10px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#name{
    font-size: 10px;
    font-weight: 500;
}
.input-field{
    display: flex;
    flex-direction: row;
}
.input-field label{
    flex-basis: 45%;
    text-wrap: nowrap;
}
.input-field input{
    flex-basis: 55%;

}